@media (max-width: 375px){
    body {
        background-color: rgb(255, 255, 255);
    }
    .conteudo {
        max-width: 100vw;
        min-height: 100vw;
        background-color: rgb(255, 255, 255);
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .conteudo .imagem {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .conteudo .imagem img {
        width: 375px;
        height: 220px;
        margin: 0;
        padding: 0;
    }

    .conteudo .cabecalho {
        padding: 45px;
    }

    .conteudo .preparacao {
        max-width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 20;
    }

    .conteudo .titulo {
        font-size: 32px;
    }

    .conteudo .subtitulo-2 {
        font-size: 28px;
    }

    .conteudo .subtitulo-3 {
        font-size: 20px;
    }
    
    }
